a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.7;
    }
}

li {
    list-style-type: none;
}

.header {
    display: grid;
    grid-template-rows: 94px 50px;
    grid-template-areas:
        "nav"
        "submenu"
    ;

    nav {
        div {
            font-size: 70px;
            display: flex;
            align-items: center;
            padding: 7px;
            margin: 6px;

            &:hover {
                outline: 3px solid white;
                border-radius: 3px;
            }
        }

        grid-area: nav;

        background-color: $color-navbar;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        form {
            label {
                margin-right: 15px;
            }

            display: flex;
            justify-content: center;
            align-items: center;

            input {
                border-radius: 10px;
                &::placeholder {
                    padding-left: 10px;
                }

                line-height: 40px;
                width: 400px;
                order: 1;
            }
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        li {
            padding-right: 20px;
            margin-right: 100px;
            font-weight: bolder;
            transition: opacity 0.3s ease;

            i {
                color: white;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

h2,
h1 {
    font-size: 2em;
    text-align: center;
}