header {
    .submenu {
        grid-area: submenu;
        background-color: $color-submenu;
         display: flex;
         justify-content: space-around;
         h2 {a { &:hover {color: rgba(255, 255, 255,0.7);
            text-decoration: underline;}}}
            
    }
}

main {
    .eslogan {
        display: grid;
        grid-template-rows: 50px 400px;
        grid-template-areas:
            "titulo"
            "adidas"
        ;
        h1 {grid-area: titulo;
            font-weight: bolder;
    }
        img { grid-area: adidas;
            width: 100%;
            height: 360px;
            object-fit: cover;}
    }

}


